<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">

	<insert id="write" useGeneratedKeys="true" keyProperty="seq">
		insert
		into sje_board values
		(seq,#{title},#{contents},#{writer},now(),
		0,0,0,1)
	</insert>

	<insert id="fileInsert">
		insert into sje_board_file values
		(#{board_seq},#{original_name},#{system_name},0,now(),'N')
	</insert>

	<update id="updateGroupNo">
		UPDATE sje_board

		SET groupNo = #{seq}

		WHERE seq =
		#{seq}

	</update>

	<select id="read" resultType="Board">
		select * from sje_board where
		seq=#{seq}
	</select>

	<select id="getFileInfo" resultType="Files">
		select * from sje_board_file
		where board_seq=#{board_seq}
	</select>

	<update id="updateConfirm" useGeneratedKeys="true"
		keyProperty="seq">
		update sje_board set title=#{title} , contents=#{contents}
		where seq=#{seq}
	</update>

	<update id="removeConfirm">
		update sje_board set available=0 where seq=#{seq}
	</update>


	<select id="selectContentCnt" resultType="int">
		select count(seq) from sje_board where 1=1
		<if test="searchCondition!=null and searchCondition!=''">
			and ${searchCondition} LIKE CONCAT('%',#{searchValue},'%')
		</if>
	</select>


	<select id="selectContent" resultType="Board">
		select
		seq,
		title,
		contents,
		writer,
		writeDate,
		groupNo,
		groupOrd,
		groupLayer,
		available
		from
		sje_board
		<if test="searchCondition!=null and searchCondition!=''">
			where ${searchCondition} LIKE
			CONCAT('%',#{searchValue},'%')
		</if>
		order by groupNo desc,groupOrd asc
		limit #{startRowNo}, #{endRowNo}
	</select>




	<insert id="replyInsert" useGeneratedKeys="true"
		keyProperty="seq">
		insert
		into sje_board values
		(seq,#{title},#{contents},#{writer},now(),
		#{groupNo},#{groupOrd},#{groupLayer},1)
	</insert>

	<update id="replyUpdate">
		update sje_board set
		groupOrd=groupOrd+1 where
		groupNo=#{groupNo} and groupOrd> #{groupOrd}
	</update>

	<insert id="writeComment" useGeneratedKeys="true"
		keyProperty="boardComNo">
		insert
		into sje_board_comment values
		(#{boardNo},boardComNo,#{boardComTxt},#{boardComWriter},#{boardComRegDate},
		1)
	</insert>

	<select id="getOneComment" resultType="BoardComment">
		select * from sje_board_comment where boardComNo=#{boardComNo}
	</select>
	
	<select id="getListComment" resultType="BoardComment">
	select * from sje_board_comment where boardNo=#{boardNo}
	</select>
	
	<delete id="removeComment">
	delete from sje_board_comment where boardComNo=#{boardComNo} 
	</delete>

</mapper>
